#!/bin/bash
# {{ ansible_managed }}

set -euf

ACTIVE_INPUT=input1
TTY_FILE=/dev/hdmi2usb/by-num/all0/tty0
DO_PATTERN=no

usage () {
    echo "Usage: $0 [-i <input>] [-f <tty file>] [-p]"
    echo
    echo " -i <input>: set active input (default: input1)"
    echo " -f <tty file>: set opsis tty file (default: /dev/hdmi2usb/by-num/all0/tty0)"
    echo " -p: go through pattern before reactivating inputs/outputs"
    exit 2
}

while getopts "i:f:p" o; do
    case "${o}" in
      i)
        ACTIVE_INPUT="${OPTARG}"
        ;;
      f)
        TTY_FILE="${OPTARG}"
        ;;
      p)
        DO_PATTERN=yes
        ;;
      *)
        usage
        ;;
    esac
done

case $ACTIVE_INPUT in
    input0)
	INACTIVE_INPUT=input1
	;;
    input1)
	INACTIVE_INPUT=input0
	;;
    *)
	echo "active input argument needs to be input0 or input1"
	exit 2
	;;
esac

function send {
    # sends commands to hdmi2usb board (first Opsis or Atlys)
    echo "$1"
    printf '\r%s\r' "$1" | cstream -b 1 -t 30 > /dev/hdmi2usb/by-num/all0/tty0
}

# Set up the serial port for communication
while ! stty -F "${TTY_FILE}" 0:0:18b2:0:0:0:0:0:0:0:1:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0; do
    sleep 1
done

# Inputs off, outputs on
send "${ACTIVE_INPUT} off"
send "${INACTIVE_INPUT} off"
send "output0 on"
send "output1 on"

if [ "${DO_PATTERN}" = "yes" ]; then
    sleep 2
    for output in output0 output1 encoder; do
        send "video_matrix connect pattern $output"
    done
fi

sleep 2

send "${ACTIVE_INPUT} on"

for output in output0 output1 encoder; do
    send "video_matrix connect ${ACTIVE_INPUT} ${output}"
done
