# {{ ansible_managed }}

server {
  listen 80;
  listen [::]:80;

  root /var/www/html;

  index index.html;

  server_name {{ inventory_hostname }};

  # Let's Encrypt challenges
  location /.well-known/ {
    alias {{ letsencrypt_well_known_dir }}/;
  }
}
