; {{ ansible_managed }}

[general]
static=yes
writeprotect=no
clearglobalvars=no

[conference]
exten => s,1,Noop()

; DEBUG
;same => n,SET(JITSI_ROOM=testing123)
;same => n,Goto(joinmeeting)
; END DEBUG

same => n,MSet(JITSI_CALLER=,JITSI_ROOM=,JITSI_PW=)
same => n(getmeeting),Read(CONFNO,conf-getconfno,12)
same => n,Verbose(Conference # ${CONFNO})
same => n,GotoIf($[! "${CONFNO}" : "[0-9]{6,12}"]?invalidnum)
same => n,AGI(jitsi-room.py,${CONFNO},${CALLERID(all)})
same => n,GotoIf($["${AGISTATUS}" = "FAILURE"]?invalidnum)
same => n,Set(CALLERID(name)=${JITSI_CALLER})
same => n,GotoIf($["${JITSI_ROOM}" = ""]?invalidnum:joinmeeting)

same => n(invalidnum),Playback(conf-invalid)
same => n,Goto(getmeeting)

same => n(joinmeeting),Playback(auth-thankyou)
same => n,playback(conf-placeintoconf)
same => n,Verbose(Joining room: ${JITSI_ROOM})
same => n,Dial(PJSIP/jigasi,,b(room-header^s^1(${JITSI_ROOM},${JITSI_PW}))gL(3600000:60000))
; FIXME: We never seem to get this far
; TODO: Prompt: To rejoin, press 1
same => n,Read(REJOIN,1)
same => n,GotoIf($["${REJOIN}" = "1"]?joinmeeting)
same => n,Hangup()

[room-header]
exten => s,1,SET(PJSIP_HEADER(add,Jitsi-Conference-Room)=${ARG1})
same => n,GotoIf($["${ARG2}" = ""]?done)
same => n,SET(PJSIP_HEADER(add,Jitsi-Conference-Room-Pass)=${ARG2})
same => n(done),Return()

; ===================================================================
; Inbound call contexts

{% for trunk_name, trunk in jigasi.trunks.items() %}
[inbound-{{ trunk_name }}]
exten => {{ trunk.extension }},1,Verbose("Call received on {{ trunk_name }}")
same => n,Gosub(conference,s,1)
same => n,Hangup()

{% endfor %}

[inbound-jitsi]
{% if jigasi.dial_out_trunk is not defined %}
; Outbound disabled
exten => X,1,Hangup()
{% else %}
; NANP
exten => _1NXXNXXXXXX,1,Gosub(dial-out,s,1(${EXTEN}))
same => n,Hangup()
exten => _+1NXXNXXXXXX,1,Gosub(dial-out,s,1(${EXTEN:1}))
same => n,Hangup()
exten => _001NXXNXXXXXX,1,Gosub(dial-out,s,1(${EXTEN:2}))
same => n,Hangup()
; International
exten => _00N.,1,Gosub(dial-out,s,1(${EXTEN}))
same => n,Hangup()
exten => _+N.,1,Gosub(dial-out,s,1(00${EXTEN:1}))
same => n,Hangup()
exten => _011.,1,Gosub(dial-out,s,1(00${EXTEN:3}))
same => n,Hangup()

[dial-out]
exten => s,1,Verbose(Dialling outbound {{ jigasi.dial_out_trunk }}: ${ARG1})
same => n,Dial(PJSIP/${ARG1}@{{ jigasi.dial_out_trunk }})
same => n,Return()
{% endif %}
