#!/usr/sbin/nft -f
# {{ ansible_managed }}

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    iif "lo" accept;
    {% if firewall_permit_ssh %}
      tcp dport ssh counter accept;
    {% endif %}
    {% if firewall_permit_icmp %}
      meta l4proto {icmp, icmpv6} counter accept;
    {% endif %}
    {% if firewall_permit_dhcp %}
      udp dport { 67, 68, 546, 547 } counter accept;
    {% endif %}
    jump internal_networks;
    jump custom_rules;
    ct state invalid,new,untracked counter drop;
  }
  chain internal_networks {
    {% for network in firewall_internal_networks %}
      {% if ':' in network %}ip6{% else %}ip{%endif %} saddr {{ network }} counter accept;
    {% endfor %}
  }
  chain custom_rules {
    {% for rule in firewall_rules %}
      {% if rule.source is defined %}
        {% if ':' in rule.source %}
          {% set family = 'ip6' %}
        {% else %}
          {% set family = 'ip' %}
        {% endif %}
        {{ family }} saddr {{ rule.source }}
      {%- endif %}
      {%- if rule.proto is defined %}
        {{ rule.proto }} dport { {{ rule.dports|join(', ') }} }
      {%- endif %}
      counter accept;
    {% endfor %}
  }
  chain forward {
    type filter hook forward priority 0;
    tcp flags syn tcp option maxseg size set rt mtu
  }
  chain output {
    type filter hook output priority 0;
  }
}
{% if eth_uplink_mac_address is defined %}
table inet nat {
  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
    iifname "eth-local" ip saddr {{ eth_local_address }}/{{ eth_local_netmask }} oifname "eth-uplink" counter masquerade;
  }
}
{% endif %}
