<html>
<!-- {{ ansible_managed }} -->
<head>
<title>{{ conference_name }} streaming frontend on {{ inventory_hostname }}</title>
</head>
<body>
  <p>Hello, I'm {{ inventory_hostname }}, a streaming frontend for {{ conference_name }}.</p>
  <p>I know of the following rooms:
    <ul>
      {% for room in streaming.rooms %}
        <li>
          {{ room }}:
          <a href='/redir/live/{{ room }}.m3u8'>HLS Stream</a>,
          <a href='player.html?room={{ room }}'>Web Player</a>
        </li>
      {% endfor %}
    </ul>
    If you click on the links your browser will download a useless playlist; You
    should right click to copy the link, then open that in your favorite video
    player. VLC, mpv and mplayer are all known to work!
  </p>
</body>
</html>
