<html>
<!-- {{ ansible_managed }} -->
<head>
  <title>{{ conference_name }} live streaming</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/video.js@8.6.1/dist/video-js.min.css"
        integrity="sha256-SIdhduy1z2zbjn2RyNY7ifa8P6j7S2ellcClmUCkM6Y="
        crossorigin="anonymous">
</head>
<body>
  <div id="video">
    <video id="live-stream"
           class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"
           controls>
      <source src="https://{{ streaming.frontend.onsite }}/live/{{ streaming.rooms[0] }}.m3u8"
              type="application/x-mpegURL" label="Full">
    </video>
  </div>

  <h2>Other ways to watch the video</h2>
  <div>
    The streams are available over HLS (used by the player above) and RTMP, in 4 qualities.
  </div>
  <ul>
    <li>
      <strong>HLS:</strong> vlc, mpv, and mobile web browsers understand HLS streaming, use the URL:
      <code class="direct-link">https://{{ streaming.frontend.onsite }}/live/{{ streaming.rooms[0] }}.m3u8</code>
    </li>
    <li>
      <strong>RTMP:</strong> lower latency than HLS, but without automatic bandwidth management.
      Use one of the following URLs:
      <ul>
        <li>
          Source quality (1280x720):
          <a href="rtmp://{{ streaming.frontend.onsite }}/front/{{ streaming.rooms[0] }}_src"
             class="direct-link">rtmp://{{ streaming.frontend.onsite }}/front/{{ streaming.rooms[0] }}_src</a>.
        </li>
        {% for name, variant in streaming.adaptive.variants.items() %}
          <li>
            {{ name|title() }} quality ({{ variant.width }}x{{ variant.width * 9 // 16}}):
            <a href="rtmp://{{ streaming.frontend.onsite }}/front/{{ streaming.rooms[0] }}_{{ name }}"
               class="direct-link">rtmp://{{ streaming.frontend.onsite }}/front/{{ streaming.rooms[0] }}_{{ name }}</a>.
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <script src="https://cdn.jsdelivr.net/npm/video.js@8.6.1/dist/video.min.js"
          integrity="sha256-CZC5BdKkEajynAUCRYQZuRky50DMZrGsoSgXnL7eWGc="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jb-videojs-hls-quality-selector@2.0.2/dist/jb-videojs-hls-quality-selector.min.js"
          integrity="sha256-Ik7Lpkipuqfo384ewWTyzUviacc8libjWxGKGinp9/8="
          crossorigin="anonymous"></script>
  <script type="text/javascript">
    "use strict";
    function room_name() {
      const params = new URL(document.location).searchParams;
      if (params.get("room")) {
        return params.get("room");
      }
      console.log("No room name specified, falling back to {{ streaming.rooms[0] }}");
      return "{{ streaming.rooms[0] }}";
    }

    function replace_urls(callback) {
      const source_elts = document.querySelector("#live-stream source");
      const link_elts = document.querySelectorAll(".direct-link");
      source_elts.setAttribute("src", callback(source_elts.getAttribute("src")));
      link_elts.forEach((element) => {
        element.innerHTML = callback(element.innerHTML);
        if (element.getAttribute("href")) {
          element.setAttribute("href", callback(element.getAttribute("href")));
        };
      });
    }

    function set_room_name() {
      const name = room_name();
      replace_urls((url) => url.replace(
        /{{ streaming.rooms[0].replace(".", "\\.") }}/,
        name));
    }

    function find_closest_video_mirror(callback) {
      fetch("https://{{ streaming.frontend.onsite }}/local-server")
        .then((response) => {
          if (!response.ok) {
             throw new Error(`HTTP error! Status: ${response.status}`);
           }
          return response.text();
        })
        .then((country_code) => {
          console.log("Selecting video from", country_code);
          replace_urls((url) => url.replace(
            /{{ streaming.frontend.onsite.replace(".", "\\.") }}/,
            country_code + ".{{ streaming.geoip.domain }}"));
          callback();
      });
    }

    function init_video() {
      const p = videojs("live-stream");
      p.hlsQualitySelector();
      p.reloadSourceOnError();
    }

    document.addEventListener("DOMContentLoaded", function() {
      set_room_name();
      find_closest_video_mirror(init_video);
    });
  </script>
</body>
</html>
