# {{ ansible_managed }}
dhcp-option-force=209,"partman-auto/disk={{ default_install_disk }} grub-installer/bootdev={{ default_install_disk }}"

{% for host in staticips.hosts %}
{% if host.comment is defined %}# {{ host.hostname }}: {{ host.comment }}{% endif %}

{% if host.mac is defined %}
dhcp-host={{ host.mac }},set:host-{{ host.hostname }}{% if host.noipxe|default(false) %},set:noipxe{% endif %}{% if host.noshim|default(false) %},set:noshim{% endif %}{% if host.ip is defined %},{{ host.ip }}{% endif %},{{ host.hostname }}
{% endif %}

{% if host.ip is defined %}host-record={{ host.hostname }},{{ host.ip }}{% endif %}

{% if host.pxeflags is defined %}
{# dhcp option 224-254 are reserved for private use
see https://www.iana.org/assignments/bootp-dhcp-parameters/bootp-dhcp-parameters.xhtml #}
dhcp-option-force=tag:host-{{ host.hostname }},224,"{{ host.pxeflags|join(',') }}"
{% endif %}
dhcp-option-force=tag:host-{{ host.hostname }},209,"partman-auto/disk={{ host.disk|default(default_install_disk) }} grub-installer/bootdev={{ host.disk|default(default_install_disk) }}{% if host.tasks is defined %} tasks={{ host.tasks|join(',') }}{% endif %}"

{% endfor %}
