# {{ ansible_managed }}
[Match]
{% if eth_uplink_vlan is defined %}
MACAddress={{ eth_uplink_mac_address }}
{% elif eth_local_vlan is defined %}
MACAddress={{ eth_local_mac_address }}
{% endif %}
Type=ether

[Network]
Description=Tagged Trunk
{% if eth_uplink_vlan is defined %}
VLAN=eth-uplink
{% endif %}
{% if eth_local_vlan is defined %}
VLAN=eth-local
{% endif %}
{% for vlan in additional_vlans %}
VLAN=eth-{{ vlan.name }}
{% endfor %}

# In case of 'tagged only' setups, you probably don't need any IP
# configuration on the link without VLAN (or: default VLAN).
# For that just omit an [Address] section and disable all the
# autoconfiguration magic like this:
LinkLocalAddressing=no
LLDP=no
EmitLLDP=no
IPv6AcceptRA=no
IPv6SendRA=no
